[submodule "code/c/external/cimgui"]
	path = code/c/external/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "external/toonplusplus"]
	path = external/toonplusplus
	url = https://github.com/patrickvl/toonplusplus.git
[submodule "external/LJON"]
	path = external/LJON
	url = https://github.com/PatrickvL/LJON
