# Build directories
build/
bin/
obj/
aiemu/obj/
aiemuc/obj/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio files
*.vcxproj.user
*.vcxproj.filters
.vs/

# Executable
aiemuc
aiemuc.exe

# Object files
*.o
*.obj

# Debug files
*.pdb
*.ilk
